@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    color: rgb(115, 0, 255);
    font-style: italic;
}

.dropDownProfile{
    position: absolute;
    top: 4.5rem;
    right: 1rem;
    width: 120px;
    padding: 15px;
    border-radius: 15px;
    background-color: aliceblue;
    border-color: white;
    border: 2px solid grey;
}
.dropDownProfile::before{
    content:'';
    position: absolute ;
    top: -0.7rem;
    width: 1.1rem;
    height: 19px;
    transform: rotate(45deg);
    background-color: white;
    border-left:2px solid gray;
    border-top:2px solid grey ;
}

.HomeContainer1{
    position: absolute;             
    left: 25%;
    top: 50%;
    size: 30%;
    width: 500px;
    height: 200px;
    text-align: center;
    background-color: grey;
    border-radius: 2px ;

}
.HomeContainer2{
    position: absolute;             
    left: 50%;
    top: 50%;
    size: 30%;
    width: 500px;
    height: 200px;
    text-align: center;
    background-color: grey;
    border-radius: 2px ;
}
.HomeContainer3{
    position: absolute;             
    left: 75%;
    top: 50%;
    size: 30%;
    width: 500px;
    height: 200px;
    text-align: center;
    background-color: grey;
    border-radius: 2px ;
}

.custom-loader {
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: #a78bfa;
    border: 2px solid;
    position: relative;
  }
  
  .custom-loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: #a78bfa;
    animation: p6 2s infinite;
  }
  
  @keyframes p6 {
    100% {
      inset: 0
    }
  }